*{margin:0; padding:0;}
body{padding: 10px; font-size: 16px; line-height: 140%; font-family: sans-serif;}
article, footer{margin: 10px auto; max-width: 320px; }
#desc{font-size: 20px;}
h1{font-size:72px; line-height:100%;}
h1, h2, p {margin-bottom: 10px; font-weight: normal;}
h2{margin-top: 20px;}
sub, sup{line-height: 100%;}
hr{margin: 20px 0;}
#wcb{margin: 50px 0;}
